/** Proxima Nova **/
@font-face {
  font-family: "Proxima Nova";
  src: url("Mark Simonson - Proxima Nova Alt Regular-webfont.eot");
  src: url("Mark Simonson - Proxima Nova Alt Regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("Mark Simonson - Proxima Nova Alt Regular-webfont.woff") format("woff"),
    url("Mark Simonson - Proxima Nova Alt Regular-webfont.ttf")
      format("truetype"),
    url("Mark Simonson - Proxima Nova Alt Regular-webfont.svg#proxima_nova_altregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_nova_altbold";
  src: url("Mark Simonson - Proxima Nova Alt Bold-webfont.eot");
  src: url("Mark Simonson - Proxima Nova Alt Bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("Mark Simonson - Proxima Nova Alt Bold-webfont.woff") format("woff"),
    url("Mark Simonson - Proxima Nova Alt Bold-webfont.ttf") format("truetype"),
    url("Mark Simonson - Proxima Nova Alt Bold-webfont.svg#proxima_nova_altbold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_nova_ltsemibold";
  src: url("Mark Simonson - Proxima Nova Semibold-webfont.eot");
  src: url("Mark Simonson - Proxima Nova Semibold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("Mark Simonson - Proxima Nova Semibold-webfont.ttf") format("truetype"),
    url("Mark Simonson - Proxima Nova Semibold-webfont.svg#proxima_nova_ltsemibold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
