@import "../../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "../../node_modules/@blueprintjs/core/lib/less/variables.less";

@import "./variables.less";

.about-us-body {
  //   flex: 1 1 auto;
  //   height: 100%;
  //   width: 100%;
  //   display: flex;
  //   flex-direction: column;
  flex: 0 1 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  //   margin: 15px;

  .body-top {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: center;
    padding: 20px;
    margin: 15px 0;
    background-color: @light-gray3;
    border-top: 3px solid @light-gray1;
    border-bottom: 3px solid @light-gray1;

    > .top-left {
      //   border: 1px solid blue;
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 15px;
      flex-direction: column;
    }

    > .top-right {
      //   border: 1px solid green;
      flex: 0 0 auto;
      width: 45%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .body-bottom {
    min-height: 15%;
  }

  .section-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin: 15px;

    &.-extra-spacing {
      margin-bottom: 25px;
    }

    > .title {
      text-transform: uppercase;
      letter-spacing: 3px;
      font-family: "Oswald", sans-serif;
      color: @gray1;
      margin: 0 10px;
      font-size: 16px;
    }

    > .spacer {
      border-top: 1px solid @gray3;
      flex: 1 1 auto;
      height: 0;
    }
  }

  .section-text {
    font-family: "Oswald", sans-serif;
    color: @gray1;
    font-size: 12px;
    // width: 95%;
    text-align: center;
    // padding: 10px;
    margin-left: auto;
    margin-right: auto;
    // letter-spacing: 2px;

    &.about-us-blurb {
      line-height: 18px;
    }
  }

  .testimonials {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Oswald", sans-serif;
    color: @gray3;
    font-size: 11px;
    margin-top: 15px;
    min-width: 60%;

    .testimonial-control-button {
      height: 32px;
      width: 32px;
      border-radius: 50%;
      border: 1px solid @gray3;
      display: flex;
      align-items: center;
      justify-content: center;

      &.-small {
        height: 18px;
        width: 18px;
        padding: 3px;
        min-height: 18px;
        min-width: 18px;
      }
    }

    > .testimonial {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      //   margin-bottom: 15px;
      margin-left: 40px;
      margin-right: 40px;

      > .stars {
        color: @rival-gold;
        text-align: center;
        font-size: 12px;

        > .author {
          color: @gray3;
          font-size: 10px;
        }
      }

      > .quote {
        margin: 3px 0;
        text-transform: uppercase;
        font-style: italic;
        text-align: center;
      }
    }
  }

  .core-values-section {
    width: 75%;

    .core-value-row {
      .explanation-container {
        font-size: 10px;
      }
    }
  }

  .get-in-touch-section {
    width: 100%;
  }
}

.team-pic {
  height: 400px;
  width: 100%;
  border-radius: 3px;
  margin: 5px 0 10px 0;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 0 1 auto;
}
