@import "../../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "../../node_modules/@blueprintjs/core/lib/less/variables.less";


.rival-website-app {
  display: block;
  height: 100%;
  width: 100%;
}

.rival-website-app-page {
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid blue;
}

.rival-website-app-page-bgimage {
    height:100%;
    position: relative;
    top:0;
    left:0;
    filter:grayscale(100%);
    opacity: 0.2;
}

.rival-website-app-home-main-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    > .construction-callout {
        width: 60%;
        min-width: 300px;
        text-align: center;
        font-size: 12px;

        > .pt-callout-title {
            text-align: center;
        }
    }

    > .logo-image {
        max-width: 80%;
        max-height:60%;
        display: block;
        height:400px;
        width: 400px;
        background: url("/img/Rlogo.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position:center;
        margin-bottom: 30px;
      }

}
