@import "../../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "../../node_modules/@blueprintjs/core/lib/less/variables.less";

@import "./variables.less";

.core-value-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;
  min-height: 105px;

  > .symbol {
    // border-width: 2px;
    // border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 8%;

    > .-letter {
      text-align: center;
      transform: rotate(-90deg);
      letter-spacing: 1px;
      font-family: "Oswald", sans-serif;
      font-size: 12px;

      &.-reverse {
        transform: rotate(90deg);
      }
    }
  }

  > .image-container {
    flex: 0 0 auto;
    width: 34%;
    position: relative;

    > .image {
      height: 100%;
      width: 100%;
      text-align: center;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: grayscale(100%);
    }

    > .image-overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
    }
  }

  > .explanation-container {
    border-width: 2px;
    border-style: solid;
    flex: 1 1 auto;
    font-family: "Oswald", sans-serif;
    font-size: 9px;
    width: 58%;
    text-align: center;
    padding: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
