@import "../../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "../../node_modules/@blueprintjs/core/lib/less/variables.less";

@import "./variables.less";

.mobile-about-us-body-scroll-container {
  flex: 1 1 auto;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: @light-gray5;
  display: flex;
  flex-direction: column;
  padding: 10px;

  > .section {
    margin-bottom: 25px;
    display: block;

    > .section-title {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      margin-bottom: 10px;

      &.-extra-spacing {
        margin-bottom: 15px;
      }

      > .title {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: "Oswald", sans-serif;
        color: @gray1;
        margin: 0 10px;
      }

      > .spacer {
        border-top: 1px solid @gray3;
        flex: 1 1 auto;
      }
    }

    > .section-text {
      font-family: "Oswald", sans-serif;
      color: @gray1;
      font-size: 10px;
      width: 95%;
      text-align: center;
      padding: 10px;
      margin-left: auto;
      margin-right: auto;
    }

    > .social-media-links {
      display: flex;
      flex: 1 1 auto;
      align-items: center;
      justify-content: center;

      > .social-media-button > .image {
        height: 25px;
        width: 25px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 5px 5px;
      }
    }

    > .testimonials {
      display: flex;
      flex-direction: column;
      font-family: "Oswald", sans-serif;
      color: @gray3;
      font-size: 10px;
      margin-top: 10px;

      > .testimonial {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        margin-left: 40px;
        margin-right: 40px;

        > .stars {
          color: @rival-gold;
          text-align: center;
          font-size: 12px;

          > .author {
            color: @gray3;
            font-size: 10px;
          }
        }

        > .quote {
          margin: 3px 0;
          text-transform: uppercase;
          font-style: italic;
          text-align: center;
        }
      }
    }
  }

  .team-pic {
    height: 180px;
    width: 100%;
    border-radius: 3px;
    margin: 5px 0 10px 0;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 0 1 auto;
  }
}
