@import "../../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "../../node_modules/@blueprintjs/core/lib/less/variables.less";

@import "./variables.less";

.mobile-results-body-scroll-container {
  flex: 1 1 auto;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: @light-gray5;

  .tournament-card {
    margin: 15px;
  }

  .bp3-non-ideal-state {
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #d4af3790;

    .bp3-heading {
      color: #d4af3790;
    }

    .bp3-icon {
      color: #d4af3750;
    }
  }
}

.mobile-results-search {
  flex: 1 1 auto;

  .bp3-input {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    box-shadow: none;
    border: 1px solid @gray5;
    letter-spacing: 1px;

    &:focus {
      box-shadow: none;
    }
  }
}
