@import "../../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "../../node_modules/@blueprintjs/core/lib/less/variables.less";

@import "./variables.less";

.results-body {
  flex: 0 1 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .body-top {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: center;
    padding: 20px;
    margin: 15px 0;
    background-color: @light-gray3;
    border-top: 3px solid @light-gray1;
    border-bottom: 3px solid @light-gray1;
    height: 100%;

    > .top-left {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      padding: 0 15px;
      flex-direction: column;

      .tournament-card {
        flex: 1 1 auto;
        width: 100%;

        .card-header > .image {
          height: 50px;
          width: 50px;
          margin: 5px;
        }

        .card-header > .title > .name {
          font-size: 14px;
        }

        .card-header > .title > .subtitle {
          font-size: 10px;
        }

        .card-header > .rank {
          border: 1px solid @light-gray3;
          height: 35px;
          width: 35px;
          margin-right: 5px;

          &.-first {
            color: @tag-gold;
            background-color: fade(@tag-gold, 15%);
            border-color: @tag-gold;
          }

          &.-second {
            color: @tag-silver;
            background-color: fade(@tag-silver, 15%);
            border-color: @tag-silver;
          }

          &.-third {
            color: @tag-bronze;
            background-color: fade(@tag-bronze, 15%);
            border-color: @tag-bronze;
          }
        }

        .card-picture {
          flex: 1 1 auto;
        }

        .card-games {
          .game-row > .-left {
            font-size: 12px;
            letter-spacing: 1px;
            min-width: 250px;
          }
          .game-row > .-left > .team-logo {
            width: 30px;
            height: 30px;
            margin-right: 15px;
          }

          .game-row > .-center {
            font-size: 12px;
          }
        }
      }
    }

    > .top-right {
      flex: 0 0 auto;
      width: 45%;
      height: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .results-body-card {
        width: 100%;
        padding: 0;
        flex: 1 1 auto;
        overflow-y: auto;
        border-radius: 0 0 3px 3px;
        margin-top: -2px;

        .bp3-non-ideal-state {
          font-family: "Oswald", sans-serif;
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: #d4af3790;

          .bp3-heading {
            color: #d4af3790;
          }

          .bp3-icon {
            color: #d4af3750;
          }
        }
      }

      .news-body-search {
        flex: 1 1 auto;
        height: 100%;
        margin-right: -1px;

        .bp3-input {
          font-family: "Oswald", sans-serif;
          font-size: 12px;
          border-radius: 0 3px 0 0;
          height: 33px;
          box-shadow: none;
          border: 1px solid @gray5;
          letter-spacing: 1px;

          &:focus {
            box-shadow: none;
          }
        }
      }
    }
  }

  .body-bottom {
    min-height: 12%;
  }

  .section-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-bottom: 15px;

    &.-extra-spacing {
      margin-bottom: 25px;
    }

    > .title {
      text-transform: uppercase;
      letter-spacing: 3px;
      font-family: "Oswald", sans-serif;
      color: @gray1;
      margin: 0 10px;
      font-size: 16px;
    }

    > .spacer {
      border-top: 1px solid @gray3;
      flex: 1 1 auto;
      height: 0;
    }
  }
}
