@import "../../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "../../node_modules/@blueprintjs/core/lib/less/variables.less";

@import "./variables.less";

.mobile-roster-select-menu {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}

.mobile-roster-select-menu-popover {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;

  .bp3-menu {
    min-width: 113px;
    margin-left: -5px;
  }

  .bp3-menu-item {
    text-align: center;
    text-transform: uppercase;
  }
}

.rival-roster-page {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  justify-content: flex-start;

  &.-mobile {
    padding: 0px;
    font-family: "Oswald", sans-serif;

    > .roster-page-body {
      margin: 0;
      display: flex;
      // overflow-y: scroll;
      // border: 1px solid blue;
    }

    > .roster-page-body > .mobile-roster-body-scroll-container {
      flex: 1 1 auto;
      height: 100%;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      background-color: @light-gray5;
      padding: 15px;

      .mobile-player-image-panel {
        display: flex;
        flex-direction: row;
        align-items: center;

        .roster-control-button {
          &.-small {
            padding: 2px;
          }

          &.-right {
            margin-left: 5px;
            margin-right: -5px;
          }

          &.-left {
            margin-right: 5px;
            margin-left: -5px;
          }
        }
      }

      .image-panel {
        flex: 1 1 auto;
        margin-bottom: 15px;
        height: 200px;

        &.-vertical {
          height: 340px;
          width: 240px;
          margin-left: auto;
          margin-right: auto;
        }

        > .roster-team-photo {
          width: 100%;
          height: 100%;
          text-align: center;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 5px;
        }
      }

      .panel-section-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 10px;
        text-transform: uppercase;
        color: @gray5;
        margin-bottom: 5px;
        margin-left: 10px;
        margin-right: 10px;

        .title-divider {
          margin-left: 10px;
          flex: 1 1 auto;
          border-bottom: 1px solid @light-gray3;
        }
      }

      .panel-section {
        margin: 10px 0;
        padding: 15px 10px 10px 10px;

        &.-title {
          padding: 10px;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 2px;
          margin-bottom: 10px;
        }
      }

      .highlights-section-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 8px;
        text-transform: uppercase;
        color: @gray3;
        margin-bottom: 5px;
        margin-right: 10px;

        .highlight-item {
          margin: 3px;
          text-align: right;
        }
      }

      .leadership-section {
        display: flex;
        flex-direction: row;
        text-transform: uppercase;
        font-size: 10px;
        align-items: center;
        flex: 1 1 auto;
        margin: 5px 10px;
        justify-content: space-between;
        align-items: center;
        min-height: 30px;

        .section-label {
          display: flex;
          align-items: center;
          flex-direction: row;
          color: @gray3;

          .label-icon {
            margin-right: 3px;
          }
        }

        .section-items {
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        .section-tag {
          margin-left: 5px;
          &.bp3-intent-warning {
            color: @rival-gold;
            background-color: #d4af3740;
          }
        }

        .roster-user-avatar {
          width: 35px;
          height: 35px;

          .user-avatar-image {
            border: 2px solid @rival-gold;
          }
        }
      }
    }

    // > .roster-page-body > .body-top > .section-side {
    //   padding: 5px;
    // }

    // > .roster-page-body > .body-top > .section-middle {
    //   max-width: 100%;

    //   > .info-panel {
    //     width: 100%;

    //     > .roster-details-panel > .details-panel-card > .panel-header {
    //       font-size: 12px;
    //       letter-spacing: 1px;
    //     }
    //   }
    // }

    // > .roster-page-body > .body-bottom {
    //   margin-top: 0px;
    // }

    .mobile-roster-button-group-footer {
      border-top: 1px solid @light-gray3;
      flex: 0 0 auto;

      .footer-button {
        flex: 1 1 auto;
        text-transform: uppercase;
        font-size: 8px;
        // border-right: 1px solid @gray3;
        border-radius: 0;

        .@{ns}-icon {
          margin-right: 5px;
        }
      }
    }

    .mobile-roster-button-group {
      border-bottom: 1px solid @light-gray3;
      flex: 0 0 auto;

      .bp3-button {
        border-radius: 0;

        .bp3-button-text {
          font-family: "Oswald", sans-serif;
          text-transform: uppercase;
          letter-spacing: 1px;
        }

        &.bp3-active {
          background-color: @white;
          .bp3-icon {
            color: @rival-gold;
          }
        }
      }
    }
  }

  > .roster-page-body {
    flex: 0 1 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px;

    .roster-control-button {
      height: 32px;
      width: 32px;
      border-radius: 50%;
      border: 1px solid @gray3;

      &.-small {
        height: 18px;
        width: 18px;
        padding: 4px;
        min-height: 18px;
        min-width: 18px;
      }
    }

    > .body-top {
      display: flex;
      flex-direction: row;
      flex: 1 1 auto;
      // height: 65%;
      justify-content: center;
      // align-items: center;
      padding: 30px 0;
      background-color: @light-gray3;
      border-top: 3px solid @light-gray1;
      border-bottom: 3px solid @light-gray1;

      > .section-side {
        flex: 0;
        padding: 15px;
        display: flex;
        align-items: center;
      }

      > .section-middle {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        max-width: 75%;

        > .info-panel {
          display: flex;
          flex-direction: column;
          width: 40%;
          max-width: 400px;
        }

        > .image-panel {
          flex: 1 1 auto;
          margin: 0 10px;

          > .roster-team-photo {
            width: 100%;
            height: 100%;
            text-align: center;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 10px;
          }
        }
      }
    }

    > .body-bottom {
      flex: 0 0 auto;
      height: 40%;
      flex-direction: column;
      display: flex;
      margin-top: 15px;
      align-items: center;

      .players-section {
        display: flex;
        flex-direction: column;
        width: 70%;

        > .row {
          display: flex;
          justify-content: center;
          flex-direction: row;
        }
      }
    }
  }
}
