@rival-gold: #d4af37;

@tag-gold: #c98910;
@tag-silver: #a8a8a8;
@tag-bronze: #965a38;

@spot-black: #000000;
@spot-bg: #121212;
@spot-bg-light: #272727;
@spot-gray: #b3b3b3;
@spot-green: #1ed760;


@nf-black: #000000;
@nf-bg: #121212;
@nf-bg-light: #272727;
@nf-gray: #b3b3b3;
@nf-red: #e50914;