.rival-website-app-about-us{
  display: block;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  margin-top: 80px;
}

.nobord {
	border:0px !important;
}

.aboutus-title{
	font-size:20px;
	font-weight: 700;
	font-family: 'PT Sans', sans-serif;
}

.aboutus-paragraph {
	font-size: 16px;
}