.rival-website-app-badgequest{
  display: block;
  height: 100%;
  width: 100%;
  //overflow-y: scroll;
  //text-align: center;
}

.activetab {
    color:white !important;
    background-color:#D4AF37 !important;
}
.activetab:focus {outline:0;}


.badgegray {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.container-badges {
    margin-top:15px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    text-align:center;
    border-bottom: 1px solid lightgray; padding-bottom:15px;
}

.mini-badge {
    padding:5px;
    display:inline-block;
    text-align:center;
}

.mini-badge img {
    height:65px;
    width:65px;
    border-radius:50%;
}

.container-history {
    margin-top:15px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.container_badges img:hover{
    filter: opacity(50%);
    -webkit-filter: opacity(50%);
    cursor: pointer;
}

.user-list-item:hover {
    /*filter: opacity(50%);
    -webkit-filter: opacity(50%);*/
    background-color: #eee !important;
    cursor: pointer;
}

.badgequest .btn:focus,.btn:active {
   outline: none !important;
}

.badgegold {
    background-color: #C98910 !important;
}

.badgesilver {
    background-color: #A8A8A8 !important;
}

.badgebronze {
    background-color: #965A38 !important;
}
